<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
      <!-- 引入 Bootstrap -->
      <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
      <style>
          .close0{font-weight:bold;color: green;font-size:1.2em;}
          .diff{font-weight:bold;color: red;font-size:1.2em;}
          .sky {color:red;background-color:lightblue;	padding:20px;font-family:"Courier New";}
      </style>

   </head>
   <body>
   <div class = "container" ng-app="myApp" ng-controller="siteCtrl">
      <!-- <audio id = "qAudio" controls="controls" ng-click="playQAudio()" ng-src="http://music.163.com/song/media/outer/url?id=99904.mp3" type="audio/mpeg" ></audio> -->

      <form role="form">
         <div class="form-group">
            <label for="name">选择周期</label>
            <select class="form-control" ng-init="selectedName = periods[2]" ng-change="selectChange();" ng-model="selectedName" ng-options="x for x in periods"></select>
         </div>
      </form>

    <table class="table">
      <caption>数字货币行情监控</caption>
     <thead>
        <tr>
           <th>币种</th>
           <th>当前价格</th>
           <th>M5周期金叉预警</th>
           <th>穿越零轴预警</th>
        </tr>
     </thead>
     <tbody ng-repeat="x in data|orderBy:'diff':'desc'">
        <tr>
           <td class ='close0'>{{x.symbol}}</td>
           <td class ='close0'>{{x.close0 |number:4}}</td>
           <td class ='diff'>{{x.cross}}</td>
           <td class ='diff'>{{x.zeroAxis}}</td>
        </tr>
  
     </tbody>
  </table>

  <table class="table">
  <thead>
     <tr>
        <th>币种</th>
        <th>记录</th>
     </tr>
  </thead>
  <tbody ng-repeat="(x,y) in history">
     <tr>
        <td>{{x}}</td>
        <td>{{y}}</td>

     </tr>

  </tbody>
</table>

    </div>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
   
    <script>
   var app = angular.module('myApp', []);
   let audio = document.getElementById("qAudio");
	app.controller('siteCtrl', function($scope, $http,$interval) {
      if($scope.selectedName == undefined) $scope.selectedName = "60min";
      console.log($scope.selectedName);
      $scope.history = {};
      $scope.periods = ["5min", "15min", "60min","4hour","1day"];
      $scope.selectChange = function(){
         console.log($scope.selectedName)
      }
	  $interval(function(){
        let url = "http://127.0.0.1:3000/getjson?period="+$scope.selectedName;
		$http.get(url)
		  .success(function (response) {
         for(let p in response){  // console.log(p);//   取得是key值 // console.log(obj[p]);//取得是value值
               if(response[p].cross != 'Waiting' || response[p].zeroAxis != 'Waiting'){ 

                  // if(audio.paused){
                  //    audio.load();
                  //    audio.play();
                  // }
                  let myDate = new Date();
                  let mytime = myDate.toLocaleString( );
                  let h_arr = [];
                  // console.log($scope.history[response[p].symbol]);
                  if(typeof($scope.history[response[p].symbol]) == 'undefined'){
                     h_arr.push(mytime);
                     h_arr.push(response[p].cross);
                     h_arr.push(response[p].zeroAxis);
                     $scope.history[response[p].symbol] = h_arr;
                  }else{
                     let time_str = $scope.history[response[p].symbol][0];
                     let time2 = new Date(time_str);
                     let diff = (myDate.getTime() - time2.getTime())/1000;
                     if(diff < 300) return;
                  }  

                  // console.log($scope.history);

               }                  
            }
            $scope.data = response;
            // console.log($scope.data);
		  });//end for http.get
	  },1800)// end for interval
	  
	});
	</script>
</html>